/builddir/
/prefix/
/.cache/
/subprojects/*
!/subprojects/glfw.wrap
!/subprojects/imgui.wrap
!/subprojects/glew.wrap
!/subprojects/plog.wrap
!/subprojects/glslang.wrap
!/subprojects/packagefiles
imgui.ini
